<div class="body">
    <div class="container">
        <h1>ABOUT MUSCLEPEDIA</h1>
        <p>
            Welcome to Musclepedia! Our mission is to simplify the process of
            understanding and managing your muscular health. Our user-friendly
            web application boasts an intuitive interface, complete with an
            interactive 3D model of the human muscular system. With Musclepedia,
            identifying muscles in need of recovery is effortless, thanks to our
            easy-to-use platform.
        </p>

        <p>
            We offer personalized recovery plans tailored to your specific needs,
            providing detailed insights on effective rehabilitation techniques.
            Leveraging expert knowledge and advanced technology, Musclepedia
            prioritizes accessibility and privacy, ensuring that you have the
            tools to take control of your muscular health with ease. Whether
            you're an athlete recovering from a workout or someone looking to
            prevent injuries, Musclepedia is here to streamline your recovery
            journey. Join us today and simplify the process of managing your
            muscular health like never before!
        </p>
    </div>
    <div class="container">
        <h1>MEET THE TEAM</h1>
        <div class="team-row" id="top-row">
            <div class="team-member">
                <img src="/assets/team-pics/swick.png" alt="Tyler Swick">
                <p>Tyler Swick</p>
                <p><i>Computer Engineering</i></p>
            </div>
            <div class="team-member">
                <img src="/assets/team-pics/france.png" alt="Christian France">
                <p>Christian France</p>
                <p><i>Computer Science</i></p>
            </div>
            <div class="team-member">
                <img src="/assets/team-pics/huff.png" alt="Aiden Huff">
                <p>Aiden Huff</p>
                <p><i>Electrical Engineering</i></p>
            </div>
        </div>
        <div class="team-row" id="bot-row">
            <div class="team-member">
                <img src="/assets/team-pics/galang.jpg" alt="Christian Galang">
                <p>Christian Galang</p>
                <p><i>Computer Science</i></p>
            </div>
            <div class="team-member">
                <img src="/assets/team-pics/olekas.png" alt="Patrick Olekas">
                <p>Patrick Olekas</p>
                <p><i>Project Advisor</i></p>
            </div>
        </div>
    </div>
</div>