<div class="erector-spinae" [ngClass]="{ 'open': isOpen }">
  <div class="panel-header">
    <h2>Erector Spinae</h2>
    <button (click)="togglePanel()">Close</button>
  </div>
  <div class="panel-content">
    <p>Back muscles are diverse, supporting the spine, trunk, and aiding in various movements.</p>
    <p>Common injuries can lead to low back pain, emphasizing the importance of warm-ups and overall muscle strength.</p>

    <h3>Exercises:</h3>
    <ul>
      <li><strong>Release with Massage Ball:</strong> Use a lacrosse, massage, or tennis ball against a wall to massage muscles. Avoid placing the ball directly on the spine but to the side. Massage up and down each side of the spine, focusing on tight spots. Apply pressure to tight spots for 10-20 seconds, then move on if no improvement. Concentrate on three uncomfortable spots and revisit them if necessary.</li>
      <li><strong>Child’s Pose Stretch:</strong> Position yourself on hands and knees, knees wider than hips. Push hips backward while bending knees, arms stretched forward, head relaxed. Hold for 15-20 seconds, repeat 3 times. Add side stretches by moving hands to each side, holding for 15-20 seconds.</li>
      <li><strong>Modified Cat-Cow Stretch:</strong> Start on hands and knees, hands under shoulders, knees under hips. Round spine while exhaling, curving neck to look at feet. Inhale and return to neutral position. Aim for 5-10 repetitions.</li>
    </ul>

    <h3>More Information:</h3>
    <ul>
      <li><a href="https://my.clevelandclinic.org/health/body/21632-back-muscles">Cleveland Clinic Overview</a></li>
      <li><a href="https://backintelligence.com/how-to-stretch-erector-spinae/">Treatment (Dr. David Oliver)</a></li>
      <li><a href="https://orthoinfo.aaos.org/globalassets/pdfs/spine-conditioning-program.pdf">Treatment (OrthoInfo)</a></li>
    </ul>
  </div>
</div>