<div class="quadriceps" [ngClass]="{ 'open': isOpen }">
  <div class="panel-header">
    <h2>Quadriceps</h2>
    <button (click)="togglePanel()">Close</button>
  </div>
  <div class="panel-content">
    <p>Quad muscles, or quadriceps femoris, are a group of muscles at the front of the thigh.</p>
    <p>Comprise three superficial and two deep quad muscles.</p>
    <p>Vulnerable to injuries like strains and contusions.</p>
    <p>Mainly responsible for straightening the knee.</p>
    <p>Also absorb force during heel impact, flex the hip, maintain posture and balance, stabilize the kneecap, and regulate gait.</p>
    <p>Located on the front of the thigh, above the knee and below the hip.</p>
    <p>Composed of five muscles: rectus femoris, vastus intermedius, tensor of the vastus intermedius, vastus lateralis, and vastus medialis.</p>
    <p>Muscles merge into a single tendon, the quadriceps femoris tendon, attaching to the kneecap.</p>

    <h3>Exercises:</h3>
    <ul>
      <li><strong>Quad Stretch (Standing):</strong> Stand while holding onto a chair, counter, or wall for support. Bend the knee of the leg you want to stretch and reach back to grab the front of your foot with the same-side hand. Keep your knees together and pull your foot toward your buttock until you feel a gentle stretch across the front of your hip and down the thigh. Hold the stretch for 15 to 30 seconds, repeating 2 to 4 times for each leg.</li>
      <li><strong>Quad Stretch (Lying on Side):</strong> Lie on your side with the affected leg on top and use your hand or a pillow to support your head. Bend the top leg and reach behind to grab the front of the foot or ankle with the other hand. Pull your foot toward your buttock to stretch the front of your thigh. Hold the stretch for 15 to 30 seconds, repeating 2 to 4 times, and then switch legs.</li>
      <li><strong>Hamstring Stretch (Lying Down):</strong> Lie flat on your back with legs straight, placing a small towel roll under your lower back if needed. Hold the back of your affected leg for support and lift it straight up and toward your body until you feel a stretch at the back of your thigh. Hold the stretch for at least 30 seconds, repeating 2 to 4 times.</li>
    </ul>

    <h3>More Information:</h3>
    <ul>
      <li><a href="https://my.clevelandclinic.org/health/body/22816-quad-muscles">Cleveland Clinic Overview</a></li>
      <li><a href="https://myhealth.alberta.ca/Health/aftercareinformation/pages/conditions.aspx?hwid=bo1537">Treatment (Alberta)</a></li>
      <li><a href="https://www.surreyphysio.co.uk/top-5/5-best-quad-stretches/">Treatment (SurreyPhysio)</a></li>
    </ul>
  </div>
</div>