mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    background-color: #f6f6e9;
}
  
mat-form-field {
    display: block;
    background-color: #f6f6e9;
}

.login-button {
    background-color: #9fc696;
    color: #f6f6e9;
}